body {
	background: rgba(0,0,0,.05);
}

.container-fluid {
	margin-top: 1%;
}

.information {
	background: rgba(0,0,0, .1);
	border-radius: 10px;
}

.information-header {
	margin-bottom: 10%;
}

#error-container {
	margin-top: 5%;
	margin-bottom: 0;
	border-radius: 10px;
	display: none;
}

.game {
	height: 600px;
	background: rgba(0,0,0, .1);
	border-radius: 10px;
}

.game-board-display {
	height: 500px;
}

.game-title {
	text-align: center;
}

.figure-image {
	margin-top: 200px;
	max-width:100%; 
	height:auto;
}

.dialog-image {
	margin-top: 100px;
	max-width:150%; 
	height:auto;
}

.dialog-container {
	position: relative;
  	text-align: left;
}
.dialog-text {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

input.info-input.form-control {
	border-radius: 10px;
}

input.game-input {
	border-radius: 10px;
	width: 50px;
}

button.start-game {
	float: right;
	margin: 5% 0;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,.3);
}

button.next {
	float: right;
	margin: 5% 0;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,.3);
}

.btn-container {
	overflow: auto;
}